.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  color: #242424;
  padding: 1rem;
  border-radius: 7px;
  min-width: 300px;
}
