:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.app form {
  margin-top: 2rem;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transition: all 500ms ease-in;
  transform: translateX(0);
}
.post-exit {
  transform: translateX(0);
  opacity: 1;
}
.post-exit-active {
  transform: translateX(350px);
  transition: all 500ms ease-in;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
